root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  cmd = "go build -tags fts5 -o ./tmp/main ./cmd/disco"
  entrypoint = ["./tmp/main", "serve", "-v", "--dev", "--trashcan", "video.db", "audio.db", "images.db", "books.db"]
  delay = 1000
  exclude_dir = ["web/node_modules", "tmp", ".git", ".github"]
  exclude_file = []
  exclude_regex = ["_test.go"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = ""
  include_ext = ["go", "tpl", "tmpl", "html", "js", "css", "sql"]
  include_dir = []
  kill_delay = "0s"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  rerun = false
  rerun_delay = 500
  send_interrupt = false
  stop_on_error = true

[colors]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "cyan"
  watcher = "dot"

[log]
  main_only = false
  time = false

[misc]
  clean_on_exit = false

[screen]
  clear_on_rebuild = false
  keep_scroll = true
